<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="UI/UX Designer, Product Designer, Africa, Ghana">
    <meta name="description" content=" Experienced digital product designer with 4 years in web and 
    mobile app design for SaaS, E-commerce, and Edtech. Skilled in user-centered design, current design trends,
    design tools and coding. Proven track record of delivering successful projects on time and within budget.">
    <meta property="og:image" content="https://mugshotbot.com/m/CQRzgTqC">
    <meta property="twitter:card" content="summary_large_image">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Derrick Amenuve" %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="bg-black font-Lexend">
   <%= partial "partials/header" %> 
    <%= yield %>
  </body>
</html>
