<section id="Footer">
	<div class="flex flex-col items-center space-y-10 ">
		<div class='w-10/12'>
			<hr class="duration-500 border cursor-pointer border-gray border-1 hover:border-yellow" />
		</div>
		<h3 class="text-6xl font-bold text-center text-white">Let's Connect</h3>
		<p class="text-center text-gray">Got any opportunities? or just <a href="mailto:derrickamenuve@gmail.com"
				class="pt-4 underline text-yellow">
				say hi👋 </a>
		</p>

		<div class="flex space-x-3">
			<a href="https://www.linkedin.com/in/derrickamenuve/"target="_blank" class="">
				<%= image_tag("images/linkedin.svg", alt: "LinkedIn" ,:class=> "h-6 sm:h-9") %>
			</a>
			<a href="https://github.com/Derrickvibe"target="_blank" class="">
				<%= image_tag("images/github.svg", alt: "Github" ,:class=> "h-6 sm:h-9") %>
			</a>
			<a href="https://dev.to/godsloveady"target="_blank" class="">
				<%= image_tag("images/blog.svg", alt: "Writing" ,:class=> "h-6 sm:h-9") %>
			</a>
			<a href="https://www.twitter.com/godsloveady/" target="_blank" class="">
				<%= image_tag("images/twitter.svg", alt: "Twitter" ,:class=> "h-6 sm:h-9") %>
			</a>
			<a href="https://instagram.com/godsloveady"target="_blank" class="">
				<%= image_tag("images/insta.svg", alt: "Instagram" ,:class=> "h-6 sm:h-9") %>
			</a>
		</div>

	</div>
</section>
