---
title: Derrick Amenuve| Product Designer
---
<main class="flex flex-col items-center w-full">
  <section id="hero" class="container px-4 py-16 mx-auto mt-16">
    <div class="flex flex-col items-center">
      <div class="mx-4 text-3xl text-left text-white">I’m a product designer👨🏾‍💻 & failed entrepreneur based in
        Accra 🇬🇭.
        Currently open to new opportunities. Previously, I designed <a href="https://www.marbleflows.com/"
          class="text-yellow">
          Marbleflows'</a> first SaaS app & designed digital products at <a href="https://www.anka.africa"
          class="text-yellow">
          ANKA</a>, <a href="https://www.kauriafrica.com" class="text-yellow">
          Kauri</a>, <a href="https://afiewura.com/" class="text-yellow">
          Afiewura</a> and other companies. Aside from design, I enjoy listening to music, talking to people and
        travelling.
        People say I’m dedicated and fun to work with. Want to work with me? <a href="mailto:derrickamenuve@gmail.com"
          class="pt-4 text-yellow">
          say hi👋🏾 </a></div>
      <!--<div class="flex items-center mt-20">
        <a class="" href="#Works">
          <img src="/assets/img/arrow_down_circle.svg" class="h-9" alt="scroll down">
        </a>
      </div>-->
    </div>
  </section>
  <section id="Works" class="container py-16 mx-auto mt-16 mb-16">
    <div class="px-8">
      <div class="flex flex-col items-center space-y-16">
        <div class="flex flex-wrap">
          <div class="">
            <%= image_tag("images/marbleflows_wk_img.png", alt: "Marbleflows" ,:class=> "w-full") %>
              <h6 class="mt-4 text-lg font-thin text-gray">UI/UX DESIGN, INTERACTION DESIGN</h6>
              <h3 class="mt-4 text-3xl font-bold text-white">Convert 20% more leads and onboard users</h3>
              <p class="mt-4 text-lg text-gray font-regular">Marbleflows is a Gamified and interactive user
                onboarding application for <br> product engagement, customer education and marketing lead</p>
              <div class="flex items-center mb-4">
                <a href="#" class="py-2 pr-2 text-lg underline font-regular text-yellow hover:text-yellow">Discover the
                  process</a>
                <%= image_tag "images/arrow_direct.svg" %>
              </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="">
            <%= image_tag("images/shipping_experience.png", alt: "Afrikrea shipping experience" ,:class=> "w-full") %>
              <h6 class="mt-4 text-lg font-thin text-gray">UX DESIGN, WEB APP REDESIGN</h6>
              <h3 class="mt-4 text-3xl font-bold text-white">Creating a better shipping experience for<br> 13,000 +
                merchants</h3>
              <p class="mt-4 text-lg text-gray font-regular">Redesign of Afrikrea's marketplace shipping for vendors
                <br> to improve the overall user experience
              </p>
              <div class="flex items-center mb-4">
                <a href="#" class="py-2 pr-2 text-lg underline font-regular text-yellow hover:text-yellow">Discover the
                  process</a>
                <%= image_tag "images/arrow_direct.svg" %>
              </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="">
            <%= image_tag("images/vizitors_log_work_img.png", alt: "Vizitorslog" ,:class=> "w-full") %>
              <h6 class="mt-4 text-lg font-thin text-gray">UX DESIGN, WEB APP DESIGN, LANDING PAGE DESIGN</h6>
              <h3 class="mt-4 text-3xl font-bold text-white">Keeping track of all your visitors at the workplace</h3>
              <p class="mt-4 text-lg text-gray font-regular"> Vizitorslog simplifies the process of screening,
                validating & monitoring individuals across all <br>of your business locations, while meeting all
                privacy, compliance and safety requirements.
              <div class="flex items-center mb-4">
                <a href="https://vizitorslog.com"
                  class="py-2 pr-2 text-lg underline font-regular text-yellow hover:text-yellow">Visit site</a>
                <%= image_tag "images/arrow_direct.svg" %>
              </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="">
            <%= image_tag("images/azone_work_img.png", alt: "Azone" ,:class=> "w-full") %>
              <h6 class="mt-4 text-lg font-thin text-gray">UX DESIGN, WEB APP DESIGN, LANDING PAGE DESIGN</h6>
              <h3 class="mt-4 text-3xl font-bold text-white">Everything you need for your next trip</h3>
              <p class="mt-4 text-lg text-gray font-regular">Azone helps you list or find stays, eateries, car rentals ,
                beauty shops, tourist centres,
                <br>entertainment locations, etc at your travel destinations.
              </p>
              <div class="flex items-center mb-4">
                <a href="#" class="py-2 pr-2 text-lg underline font-regular text-yellow hover:text-yellow">Coming
                  soon</a>
              </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="">
            <%= image_tag("images/anka_work_image.png", alt: "ANKA.AFRICA" ,:class=> "w-full") %>
              <h6 class="mt-4 text-lg font-thin text-gray">UX DESIGN, WEBSITE DESIGN & DEVELOPMENT</h6>
              <h3 class="mt-4 text-3xl font-bold text-white">An all-in-one solution for your e-commerce business</h3>
              <p class="mt-4 text-lg text-gray font-regular">ANKA is a all-in-one solution for your e-commerce business.
                Making it easy for business owners
                <br>to create & sell anything online.
              </p>
              <div class="flex items-center mb-4">
                <a href="https://anka.africa"
                  class="py-2 pr-2 text-lg underline font-regular text-yellow hover:text-yellow">Visit website</a>
                <%= image_tag "images/arrow_direct.svg" %>
              </div>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="">
            <%= image_tag("images/Tailorsnote_work_img.png", alt: "Marbleflows" ,:class=> "w-full") %>
              <h6 class="mt-4 text-lg font-thin text-gray">UX DESIGN, MOBILE APP DESIGN, LANDING PAGE DESIGN</h6>
              <h3 class="mt-4 text-3xl font-bold text-white">A productivity tool for fashion designers </h3>
              <p class="mt-4 text-lg text-gray font-regular">Tailorsnote is an innovative way for fashion designers to
                record measurement details,
                <br> manage tasks and customers effectively.
              </p>
              <div class="flex items-center mb-4">
                <a href="https://tailorsnote.com"
                  class="py-2 pr-2 text-lg underline font-regular text-yellow hover:text-yellow">
                  Check app out</a>
                <%= image_tag "images/arrow_direct.svg" %>
              </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>


</main>